<div class="footer">
  <ul class="foot-menu">
    <%= link_to "", root_path , class:"twitter-logo-foot"%>
    <li><%= link_to "Top", root_path %></li>
    <li><%= link_to "Info", info_path %></li>
    <li><%= link_to "Pricelist", pricelist_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
</div>