<div class="header">
  <div class="title"><%= link_to "ToMmi's Mix Studio", root_path %></div>
  
  <ul class="main-menu">
    <%= link_to "", root_path , class:"twitter-logo-head"%>
    <li><%= link_to "Top", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Pricelist", pricelist_path %></li>
    <!--<li><%= link_to "Contact", contact_path %></li>-->
  </ul>
</div>